<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lista de Locais</title>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/locais">Listas de Locais</a></li>
        </ul>
    </div>
<h1>Lista de Locais</h1>
<table border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Número Local</th>
            <th>Nome Local</th>
            <th>Número da Zona</th>
            <th>Endereço</th>
            <th>Bairro</th>
            <th>Cep</th>
            <th>Municipio</th>
        </tr>
    </thead>
    <tbody>
        <tr th:each="local : ${locaiss}">
            <td th:text="${local.id}"></td>
            <td th:text="${local.numeroLocal}"></td>
            <td th:text="${local.nome}"></td>
            <td th:text="${local.numeroZona}"></td>
            <td th:text="${local.endereco}"></td>
            <td th:text="${local.bairro}"></td>
            <td th:text="${local.cep}"></td>
            <td th:text="${local.municipio}"></td>
        </tr>
    </tbody>
</table>
</body>
</html>
